*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f47959;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: azure;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}
.screen {
    padding: 2rem;
    text-align: center;
}
.screen.active{
    display: block;
}